version: '3.8'

services:
  web:
    build: .
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - media_volume:/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=db 
      - DEBUG=1
    env_file:
      - .env
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=my_django_db
      - POSTGRES_USER=django_user
      - POSTGRES_PASSWORD=django123
    env_file:
      - .env
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  media_volume: